.model {
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(217,217,217);
    margin: 0.25rem
    
}

.img{
    width: auto;
    height: 12rem;
    margin: 0rem
}
.title{
    font-weight: bold;
    color: rgb(43,114,169);
    font-size: 1rem;
    padding: 0.5rem 0
}

.specs{
    background-color: rgb(242,242,242);
    padding: 0.5rem 
}

.history{
    color: rgb(220,38,3);
    padding: 0.5rem 1rem;
}

.option{
    float: left;
    margin: 0 1rem
}